<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="SalePriceChangeDB" connectionString="Data Source=devserver\sqlexpress;Initial Catalog=SalesPriceChange;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
    <!--<add name="SalePriceChangeDB" connectionString="Data Source=DEVSERVER\sqlexpress;Initial Catalog=spcJan2;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>-->
    <add name="SalePriceChangeDB" connectionString="Data Source=203.137.52.23;Initial Catalog=SalesPriceChange;Persist Security Info=True;User ID=sa;Password=admin123456!" providerName="System.Data.SqlClient"/>
    <!--MYA040_PC\PHYOE-->
    <!--<add name="SalePriceChangeDB" connectionString="Data Source=MYA040_PC\PHYOE;Initial Catalog=SalesPriceChange;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--start here for test of Secret Admin-->
  <appSettings>
    <add key="UserID" value="admin"/>
    <add key="LoginPassword" value="1234"/>
    <add key="FolderPath" value="C:\Users\Dell\Desktop\Zips"/>
    <add key="mail_status" value="0"/>
    <!-- 1 is for Test_Mail and 0 is for Real_Mail-->
    <add key="user_role" value="0"/>
    <!-- 1 is for ckmspc1 and 0 is for @ckm$spc1-->
    <add key="ServiceAccountUsername" value="domain\username"/>
    <add key="ServiceAccountPassword" value="doLW0&gt;`dsP1&gt;%!a"/>
    <add key="ConsoleWriteLinePath" value="C:\SPC_ConsoleWriteLineToFile\"/>
  </appSettings>
  <!-- End here for test of Secret Admin-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="204800"/>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState timeout="10800"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" assembly="DropDownListChosen" namespace="DropDownListChosen"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <add value="Login/Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>