
.navbar-inverse {
    background-color:#1a684c !important ;
}
.dropdown-menu {
    background-color:#1a684c !important;
}
    .dropdown-menu > li,  .dropdown-menu > li>a,.navbar-inverse .navbar-nav > .open > a{
        background-color:#1a684c !important;
    }
      .dropdown-menu > li,  .dropdown-menu > li>a{
        background-color:#1a684c !important;
    }
      /*for Menu*/
.panel-info > .panel-heading{
   background-color: #831a30 !important;
}
.header_dashboard,.ckmdiv {
     background-color: #831a30 !important;
     color:white;
}
/* For Header and footer  For ---DshBoard*/
.panel-default > .panel-heading,.panel-heading {
    color:white !important;
 background-color:   #831a30 !important;
}
.ckmdivsett {
     color:black;
}
/* For Header and footer  For ---Instruction List*/
.label-black {
    background-color: #831a30 !important;
}
/* For Header and footer  For ---Instruction Label*/
.datetimepicker {
        background-color: #831a30 !important;
}
